<%= turbo_frame_tag "trip_form" do %>
  <div class="container">
    <%= simple_form_for [plan, trip] do |f| %>
      <%= f.input :name %>
      <%= f.input :date_start, :as => :datepicker %>
      <%= f.input :date_end, :as => :datepicker %>
      <%= f.submit 'Criar novo roteiro', class: 'btn btn-outline-primary m-4' %>
    <% end %>
  </div>
<% end %>
