<%= turbo_stream_from "user_#{current_user.id}" %>
<div class="d-flex justify-content-center align-items-center" style ="height: 100vh">
  <div class="container p-4" style="max-width: 600px; background-color: rgba(255, 255, 255, 0.6); border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
    <div class="mt-4">
      <h1 class="text-center mb-4" style="font-family: 'Jazz LET'; color: #4a4a4a;">Trips 🧳</h1>
      <ul class="list-unstyled text-center">
        <div id="trips" class="trips p-4">
          <% @trips.each do |trip| %>
            <%= turbo_frame_tag "trips" do %>
              <%= render "trips/trip", trip: trip %>
            <% end %>
            <br>
          <% end %>
          <hr>
        </div>
      </ul>
      <div class="text-center">
        <%= link_to new_trip_path, class: "btn btn-outline-success rounded-pill mx-2" do %>
          <i class="fa-solid fa-plus"></i> New Itinerary
        <% end %>
        <%= link_to root_path, class: "btn btn-outline-secondary rounded-pill mx-2" do %>
          <i class="fa-solid fa-house"></i> Home Page
        <% end %>
      </div>
    </div>
  </div>
</div>
