<div class="container">
  <h1 class="p-5 text-center"><strong><%= @trip.name %></strong></h1>

  <div class="row">
    <div class="col-8">
      <% if @plans.exists? %>
        <% @plans.each do |plan| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= plan.place.name %></h5>
              <p class="card-text"><%= plan.suggestion %></p>
              <p class="card-text"><%= plan.place.price %></p>
              <%= link_to 'Deletar esse lugar', place_plan_path(plan_id: plan.id, place_id: plan.place_id), method: :delete, data: { turbo_method: :delete, confirm: "Tem certeza que deseja deletar?" } %>
            </div>
          </div>
        <% end %>
        <%= link_to "Colocar mais atrações", root_path, class: "btn btn-primary" %>
        <%= link_to "Lista dos seus roteiros", trips_path, class: "btn btn-primary" %>
        <%= link_to 'Deletar', trip_path, method: :delete, data: { turbo_method: :delete, confirm: "Tem certeza que deseja deletar?" } %>
      <% end %>
    </div>

      <div class="col-4">
        <div style="width: 100%; height: 95%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
</div>
