<h1><strong><%= @trip.name %></strong></h1>
  <div class>
    <% @plans.each do |plan| %>
        <ul>
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= plan.place.name %></h5>
                <p class="card-text"><%= plan.suggestion %></p>
                <p class="card-text"><%= plan.place.price %></p>
              </div>
          </div>
        </ul>
    <% end %>
<%= link_to "Colocar mais atrações", root_path, class: "btn btn-primary" %>
<%= link_to "Lista dos seus roteiros", trips_path, class: "btn btn-primary" %>
