<div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicadores do carrossel -->
  <div class="carousel-indicators">
    <% @countries.each_slice(4).with_index do |_, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>

  <div class="carousel-inner">
    <% @countries.each_slice(4).with_index do |country_group, index| %>
      <!-- Slide com 3 cards -->
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <div class="d-flex justify-content-center">
          <% country_group.each do |country| %>
            <article class="cardcountry m-4">
              <%= cl_image_tag country.photo.key, height: 300, width: 400, crop: :fill, class: "d-block w-100", alt: "Photo" %>
              <div class="cardcountry__content | flow">
                <div class="cardcountry__content--container | flow">
                  <h2 class="cardcountry__title"><%= country.name %></h2>
                  <p class="cardcountry__description"><%= country.description %></p>
                </div>
                <%= link_to 'Read more', country_cities_path(country), class: 'cardcountry__button' %>
              </div>
            </article>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controles do carrossel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
