<div class="container mt-5">
  <h1 class="d-flex justify-content-center py-5" style="color: #0B2F9F;"><strong>Cities in <%= @country.name %> </strong></h1>
  <% @cities.each do |city| %>
      <%= link_to country_city_places_path(city.country, city), style: "text-decoration: none; color: inherit;" do %>
        <div class="cardcity mb-3" style="width: 100%; max-width: 100%; height: auto; display: block;">
          <% if city.photo.valid? %>
            <%= cl_image_tag city.photo.key, height: 500, width: 400, class: "d-block w-100", alt: "Photo" %>
          <% else %>
            <img class="cardcity-img-top" src="https://png.pngtree.com/thumb_back/fw800/background/20230831/pngtree-the-cityscape-shot-is-a-horizontal-view-of-the-sun-with-image_13102124.jpg" style="width: 100%; height: auto; object-fit: cover;">
          <% end %>
        </div></a>
      <%end %>

      <div class="cardcity-body">
        <h2 class="cardcity-title" style="color: #0B2F9F; margin-top: 15px;"><strong><%= city.name %></strong></h2>
        <p class="cardcity-text" style="text-align: justify; font-size: 1.5em; margin-top: 15px;"><%= city.description %></p>
      </div>

      <hr>
  <% end %>

</div>

<div style="text-align: center; margin: 40px; padding-botton: 40px;">
  <%= link_to countries_path, class: 'btn btn-primary mb-5', style: 'padding: 10px 20px; border-radius: 25px;' do %>
    <i class="fa-solid fa-flag"></i> Back to Countries
  <% end %>
</div>
