<div class="container mt-4">
  <h2><%= @place.name %></h2>
  <h4> Attração de <%= @place.city.name %>. </h4>
  <p> Por - <%= @place.price %> </p>
  <p> Localização - <%= @place.address %> </p>
  <p> Descrição da atração - <%= @place.description %> </p>
  <p> Review - <%= @place.review %> </p>

  <hr>

  <%= link_to 'Voltar para outras atrações', country_city_places_path(@place.city.country, @place.city), class: "btn btn-primary" %>
  

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Adicionar ao roteiro
  </button>
</div>

  <%# Modal %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "places/form", plan: @plan, place: @place %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
