<div class="container mt-4">
  <h2><%= @place.name %></h2>
  <h4> Attração de <%= @place.city.name %>. </h4>
  <p> Por - <%= @place.price %> </p>
  <p> Localização - <%= @place.address %> </p>
  <p> Descrição da atração - <%= @place.description %> </p>
  <p> Review - <%= @place.review %> </p>
  <hr>
  <%# <%= link_to 'Go back', places_path, class: "btn btn-primary" %>
</div>
