<div class="container mt-4">
  <h2><%= @place.name %></h2>
  <h4> Attração de <%= @place.city.name %>. </h4>
  <p> Por - <%= @place.price %> </p>
  <p> Localização - <%= @place.address %> </p>
  <p> Descrição da atração - <%= @place.description %> </p>
  <p> Review - <%= @place.review %> </p>

  <div style="width: 70%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <hr>

  <%= link_to country_city_places_path(@place.city.country, @place.city), class: 'btn btn-primary mb-5 mx-2', style: 'padding: 10px 20px; border-radius: 25px;' do %>
    <i class="fa-solid fa-place-of-worship"></i> Voltar para outras atrações
  <% end %>

  <button type="button" class="btn btn-primary mb-5 mx-2"  style="padding: 10px 20px; border-radius: 25px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-calendar-plus"></i> Adicionar ao roteiro
  </button>
</div>

  <%# Modal %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "places/form", plan: @plan, place: @place %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
