<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/814/814476.png" type="image/x-icon">
    <title>EasyTravel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi3yZwouFRWYiLLFVdNKe4KRolw-62ubgyOg&s'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">

    <%= render "shared/navbar" %>
  <div class="nav-padding">
    <%= yield %>
    <%= render "shared/flashes" %>
  </div>

  </body>
</html>
