<!DOCTYPE html>
<html>
  <head>
    <title>EasyTravel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url('https://www.jagvimal.com/story/wp-content/uploads/2022/12/travel-background-with-toy-plane-map-scaled.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">

    <%= render "shared/navbar" %>

    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
